body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #e0d6c3, #f5f5f5);
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    animation: header-animation 2s;
}

@keyframes header-animation {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: main-animation 2s;
}

@keyframes main-animation {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.pasangan {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.ibu, .ayah, .anak-item {
    width: 40%;
    text-align: center;
    transition: transform 0.5s;
}

.ibu:hover, .ayah:hover, .anak-item:hover {
    transform: scale(1.1);
}

img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
    animation: footer-animation 2s;
}

@keyframes footer-animation {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
